.asso {
  h1 {
    padding: 1.5rem 1rem;
  }

  .intoduction {
    display: grid;
    align-items: center;
    justify-items: stretch;

    .text_intro {
      display: flex;
      justify-content: end;
      align-items: center;
      padding: 1.5rem 1.5rem;
    }

    .text_intro p {
      line-height: 1.5rem;
      margin: 0rem;
    }

    .livre20_droite {
      width: 100%;
      justify-self: center;
      padding: 2.5rem 0rem;
    }

    .livre {
      width: 80%;
      height: auto;
    }

    .fin_intro {
      text-decoration: underline;
      text-underline-offset: 4px;
      padding: 1rem 0rem;
    }
  }

  .actualy {
    padding: 0rem 0.3rem;
  }

  .pionnier {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 5rem 1rem 5rem;

    .nappe {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vh;
    }

    .nappe_oval {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.5;
    }

    .text_pionnier {
      position: relative;
      text-align: center;
      padding: 3rem 5rem;
    }

    .text_pionnier p {
      margin: 1rem 0rem;
    }
  }

  .old_logo {
    padding-bottom: 2rem;

    figcaption {
      font-style: italic;
      padding-bottom: 1.5rem;
    }
  }

  .old_time {
    padding: 0rem 0.3rem;

    .title_old {
      text-decoration: underline;
      text-underline-offset: 4px;
      padding: 0rem 2rem 1rem;
    }
  }

  .you {
    padding: 5rem 1rem 2rem;
    justify-items: stretch;

    .text_you {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .text_you p {
      margin: 0rem;
      padding: 0.5rem 1rem;
    }

    .livre20_gauche {
      width: 100%;
      height: auto;
      text-align: center;
      padding: 3.5rem 0rem;
    }

    .livre {
      width: 80%;
      height: auto;
    }
  }

  /*gere .actualy et .old_time*/
  ul {
    padding: 0rem 1.3rem;

    li {
      position: relative;
      list-style-type: none;
      text-align: left;

      p {
        margin: unset;
      }

      :nth-child(1):before {
        content: "";
        background-image: url(../assets/tete_cochon_face.png);
        display: inline-block;
        height: 35px;
        width: 40px;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }

      p:nth-child(1) {
        padding-left: 3rem;
        margin: 2rem 1rem;
        margin-top: 3rem;
        text-decoration: underline;
        text-underline-offset: 4px;
      }

      :before {
        content: "⫸";
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        padding-left: 2.5rem;
      }

      p:nth-child(2) {
        padding-left: 5rem;
        text-indent: -2.5rem;
      }

      p:nth-child(3):before {
        /* pour simuler une puce et aligné sur les autres */
        content: "";
      }

      p:nth-child(3) {
        padding-top: 1rem;
        padding-bottom: 2rem;
        padding-left: 5rem;
        text-indent: -2.5rem;
      }

      p:nth-child(4) {
        padding-bottom: 2rem;
        padding-left: 5rem;
        text-indent: -2.5rem;
      }
    }
  }
}

/* ////////////////// 411px /////////////////*/

@media screen and (min-width: 411px) {
  .asso {
    .pionnier {
      margin: 5rem 2rem 5rem;
    }
  }
}

/* ////////////////// 540px /////////////////*/

@media screen and (min-width: 540px) {
  .asso {
    h1 {
      padding: 1.5rem 0.5rem;
    }

    .intoduction {
      .livre {
        width: 60%;
      }
    }

    .pionnier {
      margin: 5rem 0.5rem 5rem;
      .text_pionnier {
        padding: 3.5rem 5rem;
      }
    }

    .you {
      .text_you p {
        padding: 0.8rem 1rem;
      }

      .livre {
        width: 60%;
      }
    }

    /*gere .actualy et .old_time*/
    ul {
      padding: 0rem 3rem;
    }
  }
}

/* ////////////////// 768px /////////////////*/

@media screen and (min-width: 768px) {
  .asso {
    h1 {
      padding: 1.5rem 7rem;
    }

    .intoduction {
      .livre {
        width: 40%;
      }
    }

    .pionnier {
      margin: 5rem 1rem 5rem;

      .text_pionnier {
        padding: 3.5rem 6rem;
      }
    }

    .you {
      .livre {
        width: 40%;
      }
    }

    /*gere .actualy et .old_time*/
    ul {
      padding: 0rem 5rem;
      li {
        p {
          padding: 0rem 1.5rem;
        }
      }
    }
  }
}

/* ////////////////// 912px /////////////////*/

@media screen and (min-width: 912px) {
  .asso {
    h1 {
      padding: 1.5rem;
    }

    .intoduction {
      .text_intro {
        justify-content: center;
      }
      .livre {
        width: 30%;
      }
    }

    .you {
      .livre {
        width: 30%;
      }
    }
  }
}

/* ////////////////// 1024px /////////////////*/

@media screen and (min-width: 1024px) {
  .asso {
    .you {
      padding: 5rem 4rem 2rem;
    }

    /*gere .actualy et .old_time*/
    ul {
      padding: 0rem 8rem;
    }
  }
}

/* ////////////////// 1280px /////////////////*/

@media screen and (min-width: 1280px) {
  .asso {
    .intoduction {
      display: grid;
      grid-template-columns: 2fr 1fr;
      align-items: center;
      justify-items: stretch;

      .text_intro {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-left: 6rem;
        padding-right: unset;
      }

      .livre20_droite {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: 300px;
        height: auto;
      }

      .livre {
        width: 80%;
        max-width: 100%;
        height: auto;
      }

      .fin_intro {
        padding-left: 50%;
        margin: unset;
      }
    }

    .actualy {
      padding: unset;
    }

    .pionnier {
      margin: 10rem 6rem 5rem;
      .nappe {
        padding: 2rem;
      }

      .text_pionnier {
        padding: 1rem 5rem;
      }
    }

    .old_time {
      padding: unset;
    }

    .you {
      padding: 10rem 2.3rem 5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .text_you {
        width: 100%;
      }

      .text_you p {
        padding: 0.5rem 5rem;
      }

      .livre20_gauche {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        max-width: 300px;
        height: auto;
      }

      .livre {
        width: 80%;
        max-width: 100%;
        height: auto;
      }
    }

    /*gere .actualy et .old_time*/
    ul {
      li {
        p:nth-child(1) {
          padding-left: 4rem;
          padding-top: 10px;
          margin: 3rem 1rem 2rem;
        }

        p:nth-child(3) {
          padding-top: unset;
        }

        p {
          margin: unset;
        }
      }
    }
  }
}

/* ////////////////// 1920px /////////////////*/

@media screen and (min-width: 1920px) {
  /*resolutions blocked window in 1920 */
  .asso {
    max-width: 1920px;
    margin: 0 auto;
  }
}
