.home {
  min-height: 800px;

  h1 {
    color: #c21449;
  }

  h3 {
    margin: unset;
    padding: 2rem 0rem;
  }

  .gateau {
    width: 85%;
    margin-top: -5rem;
  }

  .coeur {
    width: 85%;
    margin: 0 auto;
    padding: 4rem 0rem 2rem;
  }
}
