.home {
  min-height: 800px;

  h3 {
    margin: unset;
    text-align: center;
    padding: 1rem 4rem;
  }

  .div_gateau,
  .div_coeur {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img_gateau {
    width: 100%;
    height: auto;
  }

  .img_coeur {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 4rem 0rem 2rem;
  }
}

/* //////////////411px///////// */

@media screen and (min-width: 411px) {
  .home {
    h3 {
      padding: 1rem 6.5rem;
    }
  }
}

/* //////////////540px///////// */

@media screen and (min-width: 540px) {
  .home {
    h3 {
      padding: 1rem 0rem;
      font-size: 20px;
    }
  }
}

/* //////////////1920px///////// */

@media screen and (min-width: 1920px) {
  .home {
    .img_gateau {
      width: 85%;
      margin-top: -3rem;
    }

    .img_coeur {
      width: 85%;
    }
  }
}
