.nuitBlanche {
  .intro {
    p {
      padding: 0.7rem;
    }

    p:nth-child(5) {
      /*Intro "retour en affiches [...]"*/
      text-decoration: underline;
      text-underline-offset: 4px;
      padding: 2rem 1rem 1rem;
      /* padding: 2rem 0.6rem 0rem; */
    }

    p:nth-child(6) {
      /*Intro "en cliquant sur les affiches [...]"*/
      padding: 0rem 1.5rem 2rem;
      font-style: italic;
    }
  }

  .posterWhiteNight {
    width: 70%;
    margin: 0rem 0rem 1rem;
    box-shadow: 0px 0px 7px 2px #1a1a1a;
    border: solid 2px;
    overflow: hidden;
    transition: transform 0.4s;
  }

  .posterWhiteNight:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  .nb2015,
  .nb2016,
  .nb2017,
  .nb2018,
  .nb2019,
  .nb2020,
  .nb2021,
  .nb2022,
  .nb2023,
  .en2024 {
    p:nth-child(2) {
      /*1er part paragraph */
      padding: 0.7rem 3rem;
    }

    p {
      padding: 1rem;
    }

    &:after {
      /*line separator*/
      content: "";
      display: block;
      background-color: #c21449;
      margin: 2rem auto 3rem;
      width: 50%;
      height: 2px;
    }
  }

  .en2024 {
    p:nth-child(3) {
      padding: 0rem 2rem;
    }

    .title_event {
      position: relative;
      text-decoration: underline;
      text-underline-offset: 4px;
      margin-top: 3rem;
    }

    .icon_dd:before {
      content: "";
      display: inline-block;
      height: 50px;
      width: 50px;
      background-image: url(../assets/logo_dnd.png);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: -20px;
      right: 0;
      bottom: 0;
      left: 15px;
    }

    .icon_dd {
      padding: 0rem 0rem 1.5rem;
    }
  }
}

/* //////////////375px///////// */

@media screen and (min-width: 375px) {
  .nuitBlanche {
    .nb2015,
    .nb2016,
    .nb2017,
    .nb2018,
    .nb2019,
    .nb2020,
    .nb2021,
    .nb2022,
    .nb2023,
    .en2024 {
      p:nth-child(3) {
        /*2e part paragraph*/
        padding: 0.7rem 3rem;
      }
    }
    .en2024 {
      .icon_dd:before {
        left: 40px;
      }
    }
  }
}

/* //////////////390px///////// */

@media screen and (min-width: 390px) {
  .nuitBlanche {
    h1 {
      margin: 1rem;
      padding: 2rem;
    }

    .posterWhiteNight {
      margin: 2rem 0rem;
    }
  }
}

/* //////////////411px///////// */

@media screen and (min-width: 411px) {
  .nuitBlanche {
    .nb2015,
    .nb2016,
    .nb2017,
    .nb2018,
    .nb2019,
    .nb2020,
    .nb2021,
    .nb2022,
    .nb2023,
    .en2024 {
      p:nth-child(2) {
        /*1er part paragraph */
        padding: 0.7rem 1rem;
      }
    }
  }
}

/* //////////////540px///////// */

@media screen and (min-width: 540px) {
  .nuitBlanche {
    h1 {
      padding: unset;
      margin: 2rem 1rem;
      .nameTitle {
        display: block;
      }
    }

    .intro {
      p {
        padding: 0.7rem 2rem;
      }

      p:nth-child(5) {
        padding: 2rem 4rem 0rem;
      }
    }

    .posterWhiteNight {
      margin: 3rem 0rem;
    }

    .nb2015,
    .nb2016,
    .nb2017,
    .nb2018,
    .nb2019,
    .nb2020,
    .nb2021,
    .nb2022,
    .nb2023,
    .en2024 {
      p {
        padding: 1rem 2rem;
      }
    }

    .en2024 {
      .icon_dd:before {
        left: 70px;
      }
    }
  }
}

/* //////////////600px///////// */

@media screen and (min-width: 600px) {
  .nuitBlanche {
    .intro {
      p {
        padding: 0.7rem 1.5rem;
      }
    }

    .nb2015,
    .nb2016,
    .nb2017,
    .nb2018,
    .nb2019,
    .nb2020,
    .nb2021,
    .nb2022,
    .nb2023,
    .en2024 {
      p:nth-child(2) {
        /*1er part paragraph */
        padding: 0.7rem 4.5rem;
      }

      p:nth-child(3) {
        /*2e part paragraph*/
        padding: 0.7rem 2rem;
      }

      p {
        padding: 1rem 5rem;
      }
    }

    .en2024 {
      .icon_dd:before {
        left: 140px;
      }
    }
  }
}

/* //////////////768px///////// */

@media screen and (min-width: 768px) {
  .nuitBlanche {
    .intro {
      p {
        padding: 0.7rem 2rem;
      }

      p:nth-child(5) {
        /*Intro "retour en affiches [...]"*/
        padding: 2rem 10rem 0rem;
      }
    }

    .nb2015,
    .nb2016,
    .nb2017,
    .nb2018,
    .nb2019,
    .nb2020,
    .nb2021,
    .nb2022,
    .nb2023,
    .en2024 {
      p:nth-child(2) {
        /*1er part paragraph */
        padding: 2rem 10rem 0.7rem;
      }

      p:nth-child(3) {
        padding: 0.7rem 6rem;
      }
    }

    .en2024 {
      .icon_dd:before {
        left: 220px;
      }

      p:nth-child(3) {
        padding: 0rem 5rem;
      }

      p {
        padding: 1rem 8rem;
      }
    }
  }
}

/* //////////////912px///////// */

@media screen and (min-width: 912px) {
  .nuitBlanche {
    .intro {
      p {
        padding: 0.7rem 7rem;
      }

      p:nth-child(5) {
        /*Intro "retour en affiches [...]"*/
        padding: 2rem 15rem 0rem;
      }
    }

    .posterWhiteNight {
      margin: 5rem 0rem;
    }

    .nb2015,
    .nb2016,
    .nb2017,
    .nb2018,
    .nb2019,
    .nb2020,
    .nb2021,
    .nb2022,
    .nb2023,
    .en2024 {
      p:nth-child(2) {
        /*1er part paragraph */
        padding: 2rem 8rem 0.7rem;
      }

      p:nth-child(3) {
        /*2e part paragraph*/
        padding: 0.7rem 11rem;
      }
    }

    .en2024 {
      p:nth-child(3) {
        padding: 0.7rem 7rem;
      }

      .icon_dd:before {
        left: 290px;
      }

      p {
        padding: 1rem 8.5rem;
      }
    }
  }
}

/* //////////////1024px///////// */

@media screen and (min-width: 1024px) {
  .nuitBlanche {
    .intro {
      p {
        padding: 0.7rem 10rem;
      }

      p:nth-child(5) {
        /*Intro "retour en affiches [...]"*/
        padding: 2rem 19rem 0rem;
      }
    }

    .posterWhiteNight {
      width: 35%;
    }

    .nb2015,
    .nb2016,
    .nb2017,
    .nb2018,
    .nb2019,
    .nb2020,
    .nb2021,
    .nb2022,
    .nb2023,
    .en2024 {
      p:nth-child(3) {
        /*2e part paragraph*/
        padding: 0.7rem 14rem;
      }
    }

    .en2024 {
      p:nth-child(3) {
        padding: 0.7rem 11rem;
      }

      .icon_dd:before {
        left: 330px;
      }

      p {
        padding: 1rem 12.4rem;
      }
    }
  }
}

/* //////////////1280px///////// */

@media screen and (min-width: 1280px) {
  .nuitBlanche {
    .intro {
      p {
        padding: 0.7rem 18rem;
      }

      p:nth-child(5) {
        /*Intro "retour en affiches [...]"*/
        padding: 2rem 0rem;
      }
    }

    .posterWhiteNight {
      width: 20%;
      margin-bottom: 1rem;
    }

    .nb2015,
    .nb2016,
    .nb2017,
    .nb2018,
    .nb2019,
    .nb2020,
    .nb2021,
    .nb2022,
    .nb2023,
    .en2024 {
      p:nth-child(2) {
        /*1er part paragraph */
        padding: 1.5rem 0rem 0.7rem;
      }

      p:nth-child(3) {
        /*2e part paragraph*/
        padding: 0.7rem 18.4rem;
      }
    }

    .en2024 {
      p:nth-child(3) {
        padding: 0.7rem 19rem;
      }

      .icon_dd:before {
        left: 460px;
      }

      p {
        padding: 1rem 19.5rem;
      }
    }
  }
}

/* //////////////1366px///////// */

@media screen and (min-width: 1366px) {
  .nuitBlanche {
    .intro {
      p {
        padding: 0.7rem 21rem;
      }
    }

    .nb2015,
    .nb2016,
    .nb2017,
    .nb2018,
    .nb2019,
    .nb2020,
    .nb2021,
    .nb2022,
    .nb2023,
    .en2024 {
      p:nth-child(3) {
        /*2e part paragraph*/
        padding: 0.7rem 20.5rem;
      }
    }

    .en2024 {
      p:nth-child(3) {
        padding: 0.7rem 21rem;
      }

      .icon_dd:before {
        left: 500px;
      }

      p {
        padding: 1rem 22.5rem;
      }
    }
  }
}

/* //////////////1400px///////// */

@media screen and (min-width: 1400px) {
  .nuitBlanche {
    .nb2015,
    .nb2016,
    .nb2017,
    .nb2018,
    .nb2019,
    .nb2020,
    .nb2021,
    .nb2022,
    .nb2023,
    .en2024 {
      p:nth-child(3) {
        /*2e part paragraph*/
        padding: 0.7rem 14rem;
      }

      &:after {
        /*line separator*/
        width: 60%;
      }
    }

    .en2024 {
      p:nth-child(3) {
        padding: 0.7rem 22rem;
      }

      p {
        padding: 1rem 23rem;
      }
    }
  }
}

/* //////////////1600px///////// */

@media screen and (min-width: 1600px) {
  .nuitBlanche {
    .intro {
      p {
        padding: 0.7rem 18rem;
      }
    }

    .nb2015,
    .nb2016,
    .nb2017,
    .nb2018,
    .nb2019,
    .nb2020,
    .nb2021,
    .nb2022,
    .nb2023,
    .en2024 {
      p:nth-child(3) {
        /*2e part paragraph*/
        padding: 0.7rem 20.4rem;
      }
    }

    .en2024 {
      p:nth-child(3) {
        padding: 0.7rem 28rem;
      }

      .icon_dd:before {
        left: 620px;
      }

      p {
        padding: 1rem 24rem;
      }
    }
  }
}

/* //////////////1920px/////////

resolutions above stuck in app.css-body window in 1920 */
@media screen and (min-width: 1920px) {
  .nuitBlanche {
    max-width: 1920px;
    margin: 0 auto;

    .intro {
      p {
        padding: 0.7rem 28rem;
      }
    }

    .posterWhiteNight {
      margin-bottom: 3rem;
    }

    .nb2015,
    .nb2016,
    .nb2017,
    .nb2018,
    .nb2019,
    .nb2020,
    .nb2021,
    .nb2022,
    .nb2023,
    .en2024 {
      p:nth-child(3) {
        /*2e part paragraph*/
        padding: 0.7rem 17rem;
      }

      &:after {
        /*line separator*/
        width: 80%;
      }
    }

    .en2024 {
      p:nth-child(3) {
        padding: 0.7rem 24rem;
      }

      .icon_dd:before {
        left: 770px;
      }

      p {
        padding: 1rem 22rem;
      }
    }
  }
}
