.footer,
.footer2 {
  background-color: gray;
  padding: 0.5rem;

  p {
    font-style: italic;
    margin: 1rem 3rem;
  }

  .credits,
  .accueil {
    margin: 1rem;

    .item {
      color: #fce1bb;
      text-decoration: none;
    }
  }
}

/* //////////////353px/////////*/

@media screen and (min-width: 353px) {
  .footer,
  .footer2 {
    p {
      font-style: italic;
      margin: 1rem 0rem;
    }
  }
}

/* //////////////540px///////// */

@media screen and (min-width: 540px) {
  .footer,
  .footer2 {
    font-size: 18px;
  }
}

/* //////////////912px///////// */

@media screen and (min-width: 912px) {
  .footer,
  .footer2 {
    font-size: 20px;
  }
}
