.footer,
.footer2 {
  background-color: gray;
  padding: 0.5rem;

  p {
    font-style: italic;
    padding: 1rem 3.5rem;
  }

  .credits,
  .accueil {
    margin: 1rem;

    .item {
      color: #fce1bb;
      text-decoration: none;
    }
  }
}

/* //////////////353px/////////*/

@media screen and (min-width: 353px) {
  .footer,
  .footer2 {
    p {
      padding: 1rem 5rem;
    }
  }
}

/* //////////////390px/////////*/

@media screen and (min-width: 390px) {
  .footer,
  .footer2 {
    p {
      padding: 1rem 0rem;
    }
  }
}

/* //////////////411px/////////*/

@media screen and (min-width: 411px) {
  .footer,
  .footer2 {
    p {
      padding: 1rem 1.3rem;
    }
  }
}

/* //////////////540px///////// */

@media screen and (min-width: 540px) {
  .footer,
  .footer2 {
    font-size: 18px;
    p {
      padding: 1rem 4rem;
    }
  }
}

/* //////////////600px///////// */

@media screen and (min-width: 600px) {
  .footer,
  .footer2 {
    p {
      padding: 1rem 0rem;
    }
  }
}

/* //////////////912px///////// */

@media screen and (min-width: 912px) {
  .footer,
  .footer2 {
    font-size: 20px;
  }
}
