.navBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: gray;

  .liste {
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
    margin: unset;
  }

  .items {
    color: #fce1bb;
    text-decoration: none;
    display: flex;
    align-content: space-between;
    margin: 1rem;
  }

  .logo {
    width: 5rem;
    margin: 2rem 0rem 0rem;
  }
}


/* //////////////540px///////// */

@media screen and (min-width: 540px) {
  .navBar {
    font-size: 18px;

    .liste {
      flex-wrap: nowrap;
    }

    .logo {
      width: 7rem;
    }
  }
}


/* //////////////912px///////// */

@media screen and (min-width: 912px) {
  .navBar {
    font-size: 20px;

    .items {
      margin: 2rem;
    }
  }
}
