@font-face {
  font-family: "Verdana";
  src: url("../fonts/Verdana Ref.ttf") format("ttf");
}

body {
  background-color: #fce1bb;
  font-family: Verdana, sans-serif;

  h1 {
    color: #c21449;
  }

  max-width: 1920px;
  margin: 0 auto;
}

#root {
  flex-direction: column;
  /* min-height: 100vh; */
  text-align: center;
  background-color: #fce1bb;
  font-size: 1em;
}

.count {
  padding: 2em;
  background-color: yellowgreen;
}
