@font-face {
  font-family: "Verdana";
  src: url("../fonts/Verdana Ref.ttf") format("ttf");
}

body {
  background-color: #fce1bb;
  font-family: Verdana, sans-serif;
  margin: 0;
  width: 100%;
  /* place-items: center; */
  /* max-width: 1920px; */
}

#root {
  flex-direction: column;
  /* min-height: 100vh; */
  text-align: center;
  background-color: #fce1bb;
  font-size: 1em;
}
